<div class="center">
  <h1>Acesse sua conta JotaBank</h1>
</div>

<p-card>
  <div class="field">
    <label for="username" class="block">Username</label>
    <input id="username" type="text" pInputText [(ngModel)]="username"/>
  </div>

  <div class="field">
    <label for="password" class="block">Password</label>
    <input id="password" type="password" pInputText [(ngModel)]="password"/>
  </div>

  <div class="mr-4 inline-block">
    <p-button routerLink="/home" label="Voltar"></p-button>
  </div>
</p-card>

