<div class="center">
  <h1>Acesse sua conta JotaBank</h1>
</div>

<p-card>
  <form [formGroup]="form" (ngSubmit)="login()">
    <span class="p-float-label mb-4">
      <input id="username" type="text" pInputText [(ngModel)]="username" formControlName="username">
      <label for="username">Username</label>
      <small class="p-error block" *ngIf="form.get('username')?.invalid && form.get('username')?.dirty">Username é obrigatório</small>
    </span>

    <span class="p-float-label mb-4">
      <input id="password" type="password" pInputText [(ngModel)]="password" formControlName="password">
      <label for="password">Password</label>
      <small class="p-error block" *ngIf="form.get('password')?.invalid && form.get('password')?.dirty">Password é obrigatório</small>
    </span>

    <div class="mr-5 inline-block">
      <p-button routerLink="#" label="Entrar" type="submit" [disabled]="form.invalid"></p-button>
    </div>

    <div class="inline-block">
      <p-button routerLink="/home" label="Voltar"></p-button>
    </div>
  </form>
</p-card>

